Repository UnBArqDsw2021-2/2021.2_G4_CadernetaDeCampoDigital_docs, pull requests merged in 2022-02, with the labels that each got.

#22 Artefato do Termo de Abertura de Projeto (TAP)
  docs/assets/ear/ear.png
  docs/base/termo_de_abertura.md
  docs/javascripts/mathjax.js
  mkdocs.yml
Labels: documentation, waiting review, iniciativa-extra

#19 Criando documento de Personas
  docs/assets/requisitos/elicitacao/carlos.jpeg
  docs/assets/requisitos/elicitacao/debora.jpeg
  docs/assets/requisitos/elicitacao/julio_mauro.jpeg
  docs/assets/requisitos/elicitacao/romao_jose_maria.jpeg
  docs/requisitos/elicitacao/personas.md
  mkdocs.yml
Labels: documentation, waiting review

#34 Documento de Design Sprint
  docs/base/design_sprint.md
  docs/requisitos/pre_rastreabilidade/mapas_mentais.md
  docs/reunioes/ata_31_01.md
  mkdocs.yml
Labels: documentation, waiting review

#15 Artefato de Storyboard
  docs/assets/requisitos/elicitacao/storyboard1.png
  docs/assets/requisitos/elicitacao/storyboard2.png
  docs/assets/requisitos/elicitacao/storyboard3.png
  docs/assets/requisitos/elicitacao/storyboard4.png
  docs/requisitos/elicitacao/storytelling.md
  mkdocs.yml
Labels: documentation, waiting review, elicitação

#33 Artefato de priorização First Things First
  docs/requisitos/priorizacao/first_things_first.md
  mkdocs.yml
Labels: documentation, waiting review, priorização

#37 Artefato de Priorização MoSCoW
  docs/requisitos/elicitacao/storytelling.md
  docs/requisitos/priorizacao/moscow.md
  mkdocs.yml
Labels: documentation, waiting review, priorização

#29 Artefato de Rich Picture
  docs/base/requisitos/preRastreabilidade/rich_picture.md
  mkdocs.yml
Labels: documentation, waiting review, pré-elicitação

#36 Artefato Léxicos
  docs/base/termo_de_abertura.md
  docs/requisitos/elicitacao/brainstorming.md
  docs/requisitos/elicitacao/diagrama_causa_efeito.md
  docs/requisitos/elicitacao/entrevista.md
  docs/requisitos/elicitacao/introspeccao.md
  docs/requisitos/elicitacao/personas.md
  docs/requisitos/elicitacao/storytelling.md
  docs/requisitos/modelagem/lexicos.md
  docs/requisitos/priorizacao/first_things_first.md
  docs/requisitos/priorizacao/moscow.md
  mkdocs.yml
Labels: documentation, modelagem

#40 Artefato protótipos
  docs/assets/prototipos/prototipo_baixa_Brenno1.jpg
  docs/assets/prototipos/prototipo_baixa_Brenno2.jpg
  docs/assets/prototipos/prototipo_baixa_Brenno3.jpg
  docs/assets/prototipos/prototipo_baixa_Brenno4.jpg
  docs/assets/prototipos/prototipo_baixa_Carlos1.jpg
  docs/assets/prototipos/prototipo_baixa_Carlos2.jpg
  docs/assets/prototipos/prototipo_baixa_Carlos3.jpg
  docs/assets/prototipos/prototipo_baixa_Carlos4.jpg
  docs/assets/prototipos/prototipo_baixa_Carlos5.jpg
  docs/assets/prototipos/prototipo_baixa_Carlos6.jpg
  docs/assets/prototipos/prototipo_baixa_Eduardo.jpg
  docs/assets/prototipos/prototipo_baixa_Vitor.jpg
  docs/base/prototipacao/baixa_fidelidade.md
  docs/base/prototipacao/introducao.md
  docs/base/prototipacao/media_fidelidade.md
  mkdocs.yml
Labels: documentation

#24 Artefato do 5W2H
  docs/base/5W2H.md
  mkdocs.yml
Labels: documentation

#42 Artefato Manual de identidade visual
  docs/base/manual_identidade_visual.md
  mkdocs.yml
Labels: documentation

#43 Ponto de controle 1
  README.md
  docs/apresentacoes/pc1.md
  docs/assets/entrega1/BPMN-wiki.png
  docs/assets/entrega1/Entrevista-wiki.png
  docs/assets/entrega1/FTF-wiki.png
  docs/assets/entrega1/Prototipo-wiki.png
  docs/assets/logo.png
  docs/assets/logo_branca.png
  docs/index.md
  mkdocs.yml
Labels: documentation

#50 Criação do documento de Sprint Review 0 e Sprint Planning 1
  docs/assets/sprints/burndown_0.png
  docs/assets/sprints/retrospective_0.png
  docs/assets/sprints/velocity_0.png
  docs/sprints/planning_1.md
  docs/sprints/review_0.md
  mkdocs.yml
Labels: documentation, waiting review, iniciativa-extra

#51 Criação do documento de especificação suplementar
  docs/modelagem/agil/especificacao_suplementar.md
  mkdocs.yml
Labels: documentation, waiting review, modelagem

#53 Criação do documento de Diagrama de Classes
  docs/assets/modelagem/diagrama_classes.svg
  docs/modelagem/estatica/diagrama_de_classes.md
  mkdocs.yml
Labels: documentation, modelagem

#52 Criação do documento de Modelagem de Pacotes
  docs/assets/modelagem/estatica/backend.png
  docs/assets/modelagem/estatica/mobile.png
  docs/modelagem/estatica/diagrama_de_pacotes.md
  mkdocs.yml
Labels: documentation, modelagem

#55 Criação do Modelo Entidade-Relacionamento
  docs/modelagem/estatica/diagrama_de_classes.md
  docs/modelagem/extras/mer.md
  mkdocs.yml
Labels: documentation, iniciativa-extra, modelagem

#57 Criação do Product Backlog
  docs/modelagem/agil/product_backlog.md
  mkdocs.yml
Labels: documentation, modelagem

#65 Criação do documento de Sprint Review 1 e Sprint Planning 2
  docs/assets/sprints/burndown_1.png
  docs/assets/sprints/retrospective_1.png
  docs/assets/sprints/velocity_1.png
  docs/sprints/planning_2.md
  docs/sprints/review_1.md
  mkdocs.yml
Labels: documentation, iniciativa-extra

#66 Criação do documento de modelagem ágil NFR Framework
  docs/assets/modelagem/agil/confiabilidade.png
  docs/assets/modelagem/agil/confiabilidade_propagado.png
  docs/assets/modelagem/agil/desempenho.png
  docs/assets/modelagem/agil/desempenho_propagado.png
  docs/assets/modelagem/agil/suportabilidade.png
  docs/assets/modelagem/agil/suportabilidade_propagado.png
  docs/assets/modelagem/agil/usabilidade.png
  docs/assets/modelagem/agil/usabilidade_propagado.png
  docs/modelagem/agil/nfr_framework.md
  mkdocs.yml
Labels: documentation, waiting review, iniciativa-extra, modelagem

#72 Criação do documento de diagrama de atividades
  docs/assets/modelagem/dinamica/atividade_autenticacao.svg
  docs/assets/modelagem/dinamica/atividade_produtor.svg
  docs/assets/modelagem/dinamica/atividade_tecnico.svg
  docs/modelagem/dinamica/diagrama_de_atividades.md
  mkdocs.yml
Labels: documentation, waiting review, modelagem

#75 Criação documento diagrama de estados
  docs/assets/modelagem/dinamica/diagrama_estados/acompanhar_plantio.svg
  docs/assets/modelagem/dinamica/diagrama_estados/cadastrar_plantio.svg
  docs/assets/modelagem/dinamica/diagrama_estados/cadastrar_propriedade.svg
  docs/assets/modelagem/dinamica/diagrama_estados/conjunção.svg
  docs/assets/modelagem/dinamica/diagrama_estados/entrar_app.svg
  docs/assets/modelagem/dinamica/diagrama_estados/estado.svg
  docs/assets/modelagem/dinamica/diagrama_estados/fim.svg
  docs/assets/modelagem/dinamica/diagrama_estados/inicio.svg
  docs/assets/modelagem/dinamica/diagrama_estados/pseudo_estado.svg
  docs/assets/modelagem/dinamica/diagrama_estados/supervisionar_propriedade.svg
  docs/assets/modelagem/dinamica/diagrama_estados/transicao.svg
  docs/modelagem/dinamica/diagrama_de_estados.md
  docs/stylesheets/extra.css
  mkdocs.yml
Labels: documentation, waiting review, modelagem

#78 [BUGFIX] Correção do diagrama de atividades de técnico
  docs/assets/modelagem/dinamica/atividade_tecnico.svg
Labels: bug

#74 Criação do diagrama de comunicação
  docs/assets/modelagem/dinamica/diagramaComunicacao1.svg
  docs/assets/modelagem/dinamica/diagramaComunicacao2.svg
  docs/assets/modelagem/dinamica/diagramaComunicacao3.svg
  docs/assets/modelagem/dinamica/diagramaComunicacao4.svg
  docs/modelagem/dinamica/diagrama_de_comunicacao.md
  mkdocs.yml
Labels: documentation, waiting review, modelagem

#77 Documentando o Diagrama Entidade-Relacionamento (DER)
  docs/assets/modelagem/extras/der.png
  docs/modelagem/extras/der.md
  docs/modelagem/extras/mer.md
  mkdocs.yml
Labels: documentation, waiting review, modelagem

#80 Criação do Dicionario de Dados
  docs/modelagem/extras/dicionario_dados.md
  mkdocs.yml
Labels: documentation, waiting review, modelagem

#79 Criação do Diagrama Lógico de Dados
  docs/assets/modelagem/extras/dld.png
  docs/modelagem/extras/dld.md
  mkdocs.yml
Labels: documentation, waiting review, modelagem

#82 Criação do documento de caso de uso
  docs/assets/modelagem/diagrama_de_caso_de_uso.jpg
  docs/modelagem/extras/caso_de_uso.md
  docs/requisitos/modelagem/lexicos.md
  mkdocs.yml
Labels: documentation, waiting review, modelagem

#90 Documentação review sprint 2 e planning sprint 3
  docs/assets/sprints/burndown_2.png
  docs/assets/sprints/retrospective_2.png
  docs/assets/sprints/velocity_2.png
  docs/sprints/planning_3.md
  docs/sprints/review_2.md
  mkdocs.yml
Labels: documentation, waiting review

#83 Customização wiki
  docs/assets/logo_without_text.svg
  docs/index.html
  docs/index.md
  docs/stylesheets/extra.css
  docs/stylesheets/landingPage.css
  mkdocs.yml
Labels: iniciativa-extra
