Repository UnBArqDsw2021-2/2021.2_G4_CadernetaDeCampoDigital_docs, pull requests merged in 2022-03, with the labels that each got.

#94 Criação do documento de padrões de projetos emergentes
  docs/assets/padroes_projetos/mvt.png
  docs/assets/padroes_projetos/rest.png
  docs/padroes_projetos/estudos/padroes_emergentes.md
  mkdocs.yml
Labels: documentation, padrões de projeto

#96 Criação do documento sobre o dojo do backend
  docs/dojos/backend.md
  mkdocs.yml
Labels: documentation, waiting review, iniciativa-extra

#99 Criação do documento de GoF's Comportamentais
  docs/assets/padroes_projetos/command.png
  docs/assets/padroes_projetos/cor_exemplo.png
  docs/assets/padroes_projetos/iterator.png
  docs/assets/padroes_projetos/mediator.png
  docs/assets/padroes_projetos/memento.png
  docs/assets/padroes_projetos/observer_exemplo.png
  docs/assets/padroes_projetos/state_exemplo.png
  docs/assets/padroes_projetos/strategy_exemplo.png
  docs/assets/padroes_projetos/template_method_exemplo.png
  docs/assets/padroes_projetos/visitor.png
  docs/padroes_projetos/estudos/gofs_comportamentais.md
  mkdocs.yml
Labels: documentation, waiting review, padrões de projeto

#101 Criação documento GRASP(s)
  docs/assets/padroes_projetos/exemplo_acoplamento.png
  docs/assets/padroes_projetos/exemplo_acoplamento2.png
  docs/assets/padroes_projetos/exemplo_coesao.png
  docs/assets/padroes_projetos/exemplo_criador.png
  docs/assets/padroes_projetos/exemplo_especialista.png
  docs/assets/padroes_projetos/exemplo_indirecao.png
  docs/assets/padroes_projetos/exemplo_polimorfismo.png
  docs/padroes_projetos/estudos/grasp.md
  mkdocs.yml
Labels: documentation, waiting review, padrões de projeto

#104 Dojo Flutter
  docs/dojos/mobile.md
  mkdocs.yml
Labels: documentation

#98 Criação do documento sobre gofs estruturais
  docs/assets/padroes_projetos/adapter_exemplo.png
  docs/assets/padroes_projetos/bridge_exemplo.png
  docs/assets/padroes_projetos/composite_exemplo.png
  docs/assets/padroes_projetos/decorator_exemplo.png
  docs/assets/padroes_projetos/facade_exemplo.png
  docs/assets/padroes_projetos/flyweight_exemplo.png
  docs/assets/padroes_projetos/proxy_exemplo.png
  docs/padroes_projetos/estudos/gofs_estruturais.md
  mkdocs.yml
Labels: documentation, waiting review, padrões de projeto

#100 Adição da Entidade Talhão
  docs/assets/modelagem/estatica/diagramaClasseV2.svg
  docs/assets/modelagem/extras/derV2.png
  docs/assets/modelagem/extras/dldV2.png
  docs/modelagem/estatica/diagrama_de_classes.md
  docs/modelagem/extras/der.md
  docs/modelagem/extras/dicionario_dados.md
  docs/modelagem/extras/dld.md
  docs/modelagem/extras/mer.md
  mkdocs.yml
Labels: documentation, iniciativa-extra, modelagem

#109 Documentação review sprint 3 e planning sprint 4
  docs/assets/sprints/burndown_3.png
  docs/assets/sprints/retrospective_3.png
  docs/assets/sprints/velocity_3.png
  docs/sprints/planning_4.md
  docs/sprints/review_3.md
  mkdocs.yml
Labels: documentation, waiting review

#121 Documentação review sprint 4 e planning sprint 5
  docs/assets/sprints/burndown_4.png
  docs/assets/sprints/retrospective_4.png
  docs/assets/sprints/velocity_4.png
  docs/sprints/planning_4.md
  docs/sprints/planning_5.md
  docs/sprints/review_4.md
  mkdocs.yml
Labels: documentation, waiting review

#124 Aplicação GoFs criacionais
  docs/assets/padroes_projetos/abstract_factory_modelagem.png
  docs/assets/padroes_projetos/abstract_factory_produtor.png
  docs/assets/padroes_projetos/abstract_factory_tecnico.png
  docs/assets/padroes_projetos/abstract_factory_usuario.png
  docs/assets/padroes_projetos/builder_abstract.png
  docs/assets/padroes_projetos/builder_director.png
  docs/assets/padroes_projetos/builder_modelagem.png
  docs/assets/padroes_projetos/builder_produtor.png
  docs/assets/padroes_projetos/builder_tecnico.png
  docs/padroes_projetos/aplicacao/gofs_criacionais.md
  mkdocs.yml
Labels: documentation, padrões de projeto

#130 Aplicação Grasps
  docs/assets/padroes_projetos/aplicacao_coesao1_grasps.png
  docs/assets/padroes_projetos/aplicacao_controlador_grasps.png
  docs/assets/padroes_projetos/aplicacao_criador_grasps.png
  docs/assets/padroes_projetos/aplicacao_especialista_grasps.png
  docs/padroes_projetos/aplicacao/grasp.md
  mkdocs.yml
Labels: documentation, waiting review, padrões de projeto

#126 Aplicação GOFS Comportamentais
  docs/assets/padroes_projetos/aplicacao_modelagem_observer.png
  docs/assets/padroes_projetos/memento_aplicacao1.png
  docs/assets/padroes_projetos/memento_aplicacao2.png
  docs/assets/padroes_projetos/memento_aplicacao3.png
  docs/assets/padroes_projetos/observer_aplicacao1.png
  docs/assets/padroes_projetos/observer_aplicacao2.png
  docs/assets/padroes_projetos/observer_aplicacao3.png
  docs/assets/padroes_projetos/state_aplicacao.png
  docs/assets/padroes_projetos/state_modelagem.png
  docs/padroes_projetos/aplicacao/gofs_comportamentais.md
  mkdocs.yml
Labels: documentation, waiting review, padrões de projeto

#142 Documentação review sprint 5 e planning sprint 6
  docs/assets/sprints/burndown_5.png
  docs/assets/sprints/retrospective_5.png
  docs/assets/sprints/velocity_5.png
  docs/sprints/planning_6.md
  docs/sprints/review_5.md
  mkdocs.yml
Labels: documentation, waiting review

#144 Estilos e Padrões Arquiteturais Parte 3
  docs/arquitetura_reutilizacao/estilos_padroes/parte3.md
  docs/assets/estilos_padroes/pipes-and-filters.png
  mkdocs.yml
Labels: documentation, waiting review, padrão arquitetural

#149 Reutilização de Software
  docs/arquitetura_reutilizacao/reutilizacao/django.md
  docs/arquitetura_reutilizacao/reutilizacao/docker.md
  docs/arquitetura_reutilizacao/reutilizacao/flutter.md
  docs/arquitetura_reutilizacao/reutilizacao/pytest.md
  docs/assets/reutilizacao/docker-compose.png
  docs/assets/reutilizacao/dockerfile.png
  mkdocs.yml
Labels: documentation, waiting review, padrão arquitetural

#143 Estilos e Padrões Arquiteturais Parte IV
  docs/arquitetura_reutilizacao/estilos_padroes/parte4.md
  mkdocs.yml
Labels: documentation, padrão arquitetural

#161 Documentação de Arquitetura de Software
  docs/arquitetura_reutilizacao/das.md
  docs/assets/arquitetura_reutilizacao/django.png
  docs/assets/arquitetura_reutilizacao/flutter.png
  docs/assets/arquitetura_reutilizacao/postgresql.jpg
  docs/assets/das/diagrama_de_implantacao.png
  mkdocs.yml
Labels: documentation, padrão arquitetural

#151 #150 Criação do documento de estilos e padrões arquiteturais parte 2
  docs/arquitetura_reutilizacao/estilos_padroes/parte2.md
  docs/assets/estilos_padroes/client_server.png
  docs/assets/estilos_padroes/p2p.png
Labels: documentation, padrão arquitetural
